<launch>
    <!-- Load the node -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find proc_hydrophone)/config/rosconsole.config"/>
	<node name="proc_hydrophone" pkg="proc_hydrophone" type="proc_hydrophone_node" output="screen" />

    <!-- Load the rosparam -->
    <rosparam command="load" file="$(find proc_hydrophone)/config/compe2022.yaml"/>
</launch>
